<section class='portfolio-items portfolio-item-r'>
    <div class="row">
        <div class="eight columns main-col">
            {{ page.content }}
        </div>
		<div class="four columns">
            <img class="profile-pic"  src="{{ page.media.images['profilepic.jpg'].url }}" alt="" />
        </div>
    </div>
</section>
