<section class="portfolio-items">
    <div class="row">
        <div class="four columns">
            <img class="profile-pic"  src="{{ page.media.images['profilepic.jpg'].url }}" alt="" />
        </div>
        <div class="eight columns main-col">
            {{ page.content }}
        </div>
    </div>
</section>
